.overlap {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px;
    float:left;
    border-style: solid;
    border-color: #000000;
    position: relative;
    float: left;
}
#overlap
{
top: 50px;
   position: absolute;
}
.addoverlap {
    background-color: #f4bb34;
    border-color: #000000;
}
ul { 
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
#panel {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.panel {
    padding: 50px;
    display: none;
     padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    position: absolute;
    top: 95px;
    margin-left: 40px;
    width: 400px;
    height:320px;
    border-style: solid;
    border-color: #000000;
}
#addoverlapform
{
    width: 400px;
    height: 300px;
    background-color: gray;
    border: solid 2px blue;
    position:absolute;
    margin-left:30vw;
    margin-top: 20vh;
}
#closeFormButton
{
    position: relative;
    float:right;
    width: 18px;
    height: 18px;
    background-color: red;
    margin-right: 2px;
    margin-top: 2px;
    border: solid 1px #000000;
    
}
#formbackground
{
    position:absolute;
    background-image: url("./chess.png");
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
}