body
{
    background-color:gray;
    margin: 0;
    padding: 0;
}
#uploadBar
{
    height: 4vh;
    width: 100vw;
    background-color: black;
    display: inline-flex;  
}
#gallery
{
    height: 90vh;
    width: 100vw;
}
#photoListArea
{
    background-color: #363434;
    height: 90vh;
    width: 30vw;
    float:left;
    overflow: scroll;
    overflow-x: hidden;
}
#photoViewArea
{
    background-color: #363434;
    height: 90vh;
    width: 70vw;
    float:right;
    
}
.greenButton
{
    height: 3vh;
    width: 10vw;
    background-color: greenyellow;
    
    line-height: 3vh;
    text-align: center;
    float:right;
}
#uploadButon
{
    margin: auto 5px;   
}
.photoView
{
    background-color: gray;
    height: 67.5vh;
    width: 52.5vw;
    
    margin-left: 11.25vw;
    margin-top: 8.75vh;
    
    
    background-size:100%;
    background-repeat: no-repeat;
    
    
    border-color: white;
    border-style: solid;
    border-width: 2px; 
}

#optionBar
{
    background-color: #00A7E1;
    height: 8vh;
    width: 100vw;
    position: fixed;
    text-align: center;
}
#showOptinsBar
{
text-align: center;
}
#showOptionsButton
{
    color:white;
    display: inline-block;
}
#options
{
    height: 6vh;
    display: inline-block;
}

ul > li
{
    width: 15vw;
    height: 20vh;
    background-size: 100%;
    background-repeat: no-repeat;
    float:left;
    border-color: white;
    border-style: solid;
    border-width: 2px; 
    position: relative;
    
    margin-top: 5px;
}

ul {
 list-style-type: none;
}

.play
{
    background-image: url("play.png");
    width: 20px;
    height: 20px;
    margin-left: 10px;
    float: left;
}
.pause
{
    background-image: url("pause.png");
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}
.last
{
    background-image: url("last.png");
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}
.next
{
    background-image: url("next.png");
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}
.stop
{
    background-image: url("stop.png");
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}